
#headinglabel{
	-fx-text-fill: #F3E5F5;
}
#usernameTextfield{
	-fx-prompt-text-fill: grey;
}

#passwordField{
-fx-prompt-text-fill: grey;
}
#authPinField{
-fx-prompt-text-fill: grey;
}
#resetLabel{
	-fx-prompt-text-fill: grey;
}

#submitButton {
   -fx-background-color:  #1976D2;
}



#resetLabel:hover{
	-fx-text-fill: Green;
}