
#headinglabel{
	-fx-text-fill: #F3E5F5;
}
.textfields{
-fx-prompt-text-fill: grey;
}

#passWordField{
-fx-prompt-text-fill: grey;
}
#authPinField{
-fx-prompt-text-fill: grey;
}



#SignupLabel:hover{
	-fx-text-fill: Green;
}

#detailsLabel{
	
}